@font-face {
    font-family: 'open_sans';
    src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: open_sans;
}

/* navigation bar styles start here */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;

    .middle-nav-links a{
        text-decoration: none;
        color: #000000;
        font-size: 1.3em;
        padding: 0 .4em;
    }

    .last-nav-links{
        display: flex;
        align-items: center;

        & a{
            text-decoration: none;
            color: #000000;
            font-size: 1.3em;
            padding: 0 .5em;
        }

        & a:nth-child(1){
            background-color: #F1F1F1;
            padding: .5em 1em;
            border-radius: 30px;
            margin-right: .5em;
        }

        & a:nth-child(2){
            background-color: #000000;
            color: #fff;
            padding: .5em 1.5em;
            border-radius: 30px;
        }
    }

    #nav-toggle{
        display: none;
    }
    .btn{
        display: none;
    }
}

/* navigation bar styles end here */


/* hero section styles start here */


.hero-section{
    position: relative;
    background-image: url('/images/Rectangle-1.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-container{
        background-color: #fff;
        padding: 3rem 4rem;
        width: 80vw;
        border-radius: 10px;

        & h2{
            text-align: center;
            margin-bottom: 2.5rem;
            font-size: 2rem;
        }

        .top-form{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 1rem;
            margin-bottom: 1.5rem;
        }

        .buttons{
            display: grid;
            grid-template-columns: auto 13rem;
            gap: 1rem;
            height: 50px;

            & button{
                font-size: 20px;
                border-radius: 30px;
                border: none;
                background-color: #00EBC7;
                cursor: pointer;
            }

            & input{
                border-radius: 8px;
                border: none;
                background-color: #ECECEC;
                cursor: pointer;
            }

            & input::placeholder{
                color: #000000;
                opacity: 1;
                font-size: 20px;
                text-align: center;
            }
        }
        

        & form select{
            padding: 1rem;
            font-size: 20px;
            border-radius: 5px;
            border: none;
            appearance: none;
            background-image: url('/images/Frame\ \(1\).png');
            background-repeat: no-repeat;
            background-position: 90%;
            background-color: #ECECEC;
            width: 100%;
            cursor: pointer;
        }
    }

    .zappr-button{
        width: 183px;
        height: 49px;
        font-size: 20px;
        border-radius: 30px;
        background-color: #00000000;
        border: none;
        color: #FFFFFF;
        border: 1.5px solid rgb(225, 225, 225);
        text-decoration: underline;
        position: absolute;
        bottom: 10%;
    }
}

/* favorite section styles start here */

.favorite{
    background-color: #FDE24F;
    padding: 2rem 3rem;
    
    & h2{
        text-align: center;
        margin-bottom: 3rem;
    }

    .fav-grid{
        display: flex;
        justify-content: space-between;
    }
}


/* feature section styles start here */

.feature-section{
    
    padding: 3em;

    .feature-grid-container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 5rem;
        padding: 3em 4em;

        .single-feature-box{
            position: relative;
            text-align: center;

            & h3{
                margin: 1em 0;
                font-size: 24px;
            }

            & p{
                margin: 1em 0;
                color: #535353;
                font-size: 18px;
            }

            & a{
                display: block;
                color: #161616;
                font-size: 15px;
                font-style: italic;
                margin-top: 2em;
            }

        }

        .single-feature-box:nth-child(-n+2):after{
            content: '';
            width: 30%;
            height: 1px;
            position: absolute;
            top: 7.5em;
            right: -5em;
            display: block;
            background-color: black;
        }
    }

    .fea-button{
        text-align: center;
        margin-top: 2em;
    }

    .fea-button button{
        width: 227px;
        height: 49px;
        font-size: 20px;
        border-radius: 30px;
        border: none;
        border: 1px solid black;
        cursor: pointer;
        background-color: #fff;
    }

}

/* buy sell section styles start here */

.buy-sell-section{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;


    .buy-container{
        border-right: 1px solid black;
    }

    .buy-container, .sell-container{
        width: 50%;
        padding: 2em 0 .5em 0;

        & h3{
            margin-bottom: 2em;
            font-size: 1.6em;
        }

    }

    .buy-details, .sell-details{
        border: 1px solid black;
        display: flex;
        align-items: center;
        border-radius: 15px;
        padding: 10px 15px;
        margin: 1.3em 0;
        
        & p{
            padding-left: 15px;
            font-size: 1em;
            word-spacing: 1rem;
        }
    }

    .box{
       width: 80%;
       margin: auto;

       .offer-button{
        background-color: #000000;
        width: 235px;
        margin: 2em auto;
        color: #FFFFFF;
        font-size: 22px;
        padding: .3em 0;
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
       }
    }
}

/* get started section styles start here */

.get-started{
    background-color: #CFBAFF;
    text-align: center;
    padding: 2em;

    .text{
        font-size: 1.7em;
        font-weight: 500;
        margin: 2em 0;
    }

    .get-started-button button{
        background-color: #000000;
        width: 265px;
        color: #FFFFFF;
        padding: .5em 0;
        font-size: 28px;
        border-radius: 30px;
        cursor: pointer;
    }
}

/* footer section styels start here */

.footer-section{
    background-color: #000000;

    .top{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 4em;

        & h4{
            color: #FFFFFF;
            margin-bottom: 1.2em;
            font-size: 25px;
        }

        & a{
            display: block;
            text-decoration: none;
            color: #FFFFFF;
            padding: .3em 0;
        }
    }

    .bottom p{
        color: #FFFFFF;
        font-size: 13px;
        text-align: center;
        padding: 1.4em;
    }
}

/* responsiveness start here */

/* 950px */

@media (max-width: 950px){

    /* hero section */

    .hero-section{
    
        .form-container{
    
            .top-form{
                grid-template-columns: repeat(2, auto);
            }
    
        }
    
    }
  
}

/* 850px */

@media (max-width: 850px){

    /* nav bar */

    .navbar{

        .middle-nav-links{
            position: absolute;
            top: 12%;
            right: 3%;
            background-color: #fff;
            display: none;
            z-index: 101;
        }
    
        .middle-nav-links a{
            padding: 5px;
            width: 200px;
        }

        .btn{
            display: block;
            position: absolute;
            top: 8%;
            right: 3%;
            z-index: 100;
        }

        #nav-toggle:checked ~ .middle-nav-links{
            display: block;
            display: flex;
            flex-direction: column;
        }

    }

    /* feature section */

    .feature-section{
    
        padding: 2em;
    
        .feature-grid-container{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .single-feature-box{
                box-shadow: 0 0 5px rgb(157, 157, 157);
                width: 80%;
                padding: 2em 3em;
                border-radius: 15px;
    
            }
    
            .single-feature-box:nth-child(-n+2):after{
                display: none;
            }
        }
    
    }
}

/* 768px */

@media (max-width: 768px){


    /* favorite section */

    .favorite{
        padding: 2rem 3rem;
        
        & h2{
            text-align: center;
            margin-bottom: 3rem;
        }
    
        .fav-grid{
            display: grid;
            grid-template-columns: repeat(3, 120px);
            justify-content: space-evenly;
        }
    }

    /* buy sell section */

    .buy-sell-section{
        flex-direction: column;
        align-items: center;
    
        .buy-container{
            border-right: none;
        }
    
        .buy-container, .sell-container{
            width: 90%;
            padding: 1em 0 .5em 0;
    
            & h3{
                margin-bottom: 1.5em;
            }
    
        }
    
        .box{
           width: 100%;
           margin: auto;

           & img{
            width: 60px;
           }
    
           .offer-button{
            margin: 1em auto;
           }
        }
    }

    /* footer section */

    .footer-section{
        position: relative;
        .top{
            padding: 2em;

            & img{
                position: absolute;
            }
    
            & h4{
                font-size: 20px;
                margin-top: 2.5em;
            }

        }
    
    }

}

/* 600px */

@media (max-width: 600px){

    /* nav bar */

    .navbar{

        .middle-nav-links{
            top: 7%;
            right: 4%;
        }
    
        .last-nav-links{
            
            display: none;
    
            & a{
                text-decoration: none;
                color: #000000;
                font-size: 1.3em;
                padding: 0;
            }
    
            & a:nth-child(1){
                background-color: #fff;
                padding: 0;
                border-radius: 30px;
                margin-right: 0;
            }
    
            & a:nth-child(2){
                background-color: #fff;
                color: #000000;
                padding: 0;
                border-radius: 30px;
            }
        }
    
        .btn{
            top: 2%;
            right: 4%;
        }

        #nav-toggle:checked ~ .last-nav-links{
            display: block;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 20%;
            right: 4%;
            border-top: 1px solid rgb(196, 196, 196);
            background-color: #fff;
            width: 200px;
            padding: 5px;
            z-index: 101;
        }
    }

    /* hero section */

    .hero-section{
    
        .form-container{
            padding: 2rem 3rem 4rem 3rem;
    
            & h2{
                margin-bottom: 2rem;
                font-size: 1.9rem;
            }
    
            .top-form{
                grid-template-columns: auto;
            }
    
            .buttons{
                grid-template-columns: auto;
    
                & button{
                    font-size: 18px;
                    padding: .5em 0;
                }
    
                & input{
                    padding: .8em 0;
                }
    
                & input::placeholder{
                    font-size: 18px;
                }
            }
            
    
            & form select{
                font-size: 18px;
            }
        }
    
        .zappr-button{
            width: 170px;
            height: 40px;
            font-size: 18px;
            bottom: 3%;
        }
    }


    /* feature section */

    .feature-section{
    
        padding: 2em;
    
        .feature-grid-container{
            gap: 2.5rem;
            padding: 2em 3em;
    
            .single-feature-box{

                width: 100%;
                padding: 2em 2em;
    
                & h3{
                    font-size: 21px;
                }
    
                & p{
                    font-size: 16px;
                }
    
                & a{
                    font-size: 14px;
                }
    
            }
    
        }
    
        .fea-button{
            margin-top: 1.5em;
        }
    
        .fea-button button{
            width: 200px;
            height: 45px;
            font-size: 18px;
        }
    
    }

    /* get started */

    .get-started{
    
        .text{
            font-size: 1.2em;
            margin: 1em 0;
        }
    
        .get-started-button button{
            width: 245px;
            font-size: 23px;
        }
    }

}

/* 480px */

@media (max-width: 480px){

    /* nav bar */

    .navbar{

        .middle-nav-links{
            top: 6%;

            & a{
                font-size: 1.1em;
            }
        }
    
        .last-nav-links{
    
            & a{
                font-size: 1.1em;
            }
        }

        #nav-toggle:checked ~ .last-nav-links{
            top: 18%;
        }
    }

    /* buy sell section */

    .buy-sell-section{
    
        .buy-container, .sell-container{
    
            & h3{
                margin-bottom: 1em;
                font-size: 23px;
            }
    
        }
    
        .box{
    
           .offer-button{
            font-size: 18px;
            width: 200px;
           }
        }
    }

    /* get started */

    .get-started{
    
        .text{
            font-size: 1.1em;
        }
    
        .get-started-button button{
            width: 220px;
            font-size: 21px;
        }
    }

    /* favorite section */

    .favorite{
        padding: 2rem;
        
        & h2{
            margin-bottom: 2rem;
            font-size: 21px;
        }
    
        .fav-grid{
            grid-template-columns: repeat(2, 100px);
            justify-content: space-around;
        }
    }


    /* feature section */


    .feature-section{
    
        padding: 1em;
    
        .feature-grid-container{
    
            .single-feature-box{
                width: 100%;
                padding: 2em;
    
            }
    
        }
    
    }

     /* footer */

     .footer-section{
    
        .top{

            padding: 1em 0;
    
            & a{
                display: block;
                text-decoration: none;
                color: #FFFFFF;
                font-size: 11px;
                padding: .3em 0;
            }

            & img{
                display: none;
            }

            & h4{
                font-size: 16px;
                margin: .5em 0;
            }

        }
    
        .bottom p{
            font-size: 10px;
        }
    }
}


   

